<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="login-header">
                    <div class="title">Bhaki Securities and Traning</div>
                    <div>Sign In to your account</div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width" >
                         <input [formControlName]="fields.email"  [id]="fields.email"  matInput placeholder="Email" required >
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                         <mat-form-field class="example-full-width" >
                           <input [formControlName]="fields.password" [id]="fields.password" matInput placeholder="Password" required >
                         </mat-form-field>
                     </div>
                    
                 </div>
            </div>
            </div>
    </div>
 </div>

