<div class="main-content">
    <div class="container-fluid">
         <div class="row">
            <div class="col-md-9">
                <form class="navbar-form">
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search..." (change)="search()">
                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </form>
                <div class="card d-none">
                    <div class="card-body">
                        <h3>No registrations found</h3>
                        <p>Use the search bar to start searching for a registration</p>
                    </div>   
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Search results for: </h4>
                        <p class="card-category">New registrations on September, 2023</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Course</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dakota</td>
                                    <td>Moses</td>
                                    <td>Security 1</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Minerva</td>
                                    <td>Hooper</td>
                                    <td>Security 2</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sag</td>
                                    <td>Rodriguez</td>
                                    <td>Trainging 1</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Philip</td>
                                    <td>Chaney</td>
                                    <td>Training 2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                      <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                  <ul class="mt-3 unstyled list-group">
                    <li class="list-group-item list-group-item-action"><a href="#/registration" class="d-flex flex-row"><i class="material-icons mr-2">store</i> Add new registration</a></li>
                    <li class="list-group-item list-group-item-action"><a href="#/find-registration" class="d-flex flex-row"><i class="material-icons mr-2">search</i> Find a registration</a></li>
                    <li class="list-group-item list-group-item-action"><a href="#/all-registrations" class="d-flex flex-row"><i class="material-icons mr-2">list</i>View all registrations</a></li>
                  </ul>
                </div>   
            </div>
        </div>
    </div>
</div>
