<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Branch</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="branchForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Branch </mat-label>
                                        <mat-select required>
                                            <mat-option *ngFor="let branch of Branch" [value]="branch.name"
                                                (click)="validateBranchSelection(branch)">{{branch.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControlName]="fields.name" [id]="fields.name"  [value]="name" matInput
                                            placeholder="Name" type="text" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControlName]="fields.description" [id]="fields.description"  [value]="description" matInput
                                            placeholder="Description" type="text" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControlName]="fields.price" [id]="fields.price" matInput [value]="price"
                                            placeholder="Price" type="number" required>
                                    </mat-form-field>
                                </div>
                            </div> -->
                            <button mat-raised-button type="submit" (click)="Update()"
                                class="btn btn-info pull-right button">Update</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add Branch</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="branchForm">
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControlName]="fields.name" [id]="fields.name"  matInput
                                            placeholder="Name" type="text" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControlName]="fields.description" [id]="fields.description"   matInput
                                            placeholder="Description" type="text" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [formControlName]="fields.price" [id]="fields.price" matInput [value]="price"
                                            placeholder="Price" type="number" required>
                                    </mat-form-field>
                                </div>
                            </div> -->
                            <button mat-raised-button type="submit" (click)="Save()"
                                class="btn btn-info pull-right button">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>